@import "tailwindcss";

@theme {
  --color-Mpurple: #968EF3;
  --color-text: #0D0D0D;
  --color-border-grey: #4C4C4C;
  --color-softCoral-100: #FFE9E9;
  --color-softCoral-500: #FF6B6B;
  --color-mutedOlive: #A3B18A;
  --color-warmBeige: #EADBC8;
  --color-coolMint: #A8DADC;
  --color-midnight: #1D3557;
}

@theme {
  --font-display: "Oswald", sans-serif;
  --font-sans: Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.popup {
  position: fixed;
  width: 400px;
  min-height: 500px;
  height: auto;
  background: #1a1a1a;
  border-radius: 12px;
}

.popup::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow:
    inset 0 0 15px rgba(98, 85, 245, 0.385),
    inset 0 0 30px rgba(98, 85, 245, 0.388),
    0 0 30px rgba(147, 51, 255, 0.08);
  z-index: 10;
}

.popup > * {
  position: relative;
  z-index: 1;
}

html,
body {
  width: 400px;
  min-height: 500px;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4a4a4a;
}